body {
  background-image: url("https://res.cloudinary.com/fergusdev/image/upload/v1609030536/hero/backgrounds/Forest_1920x1080_pvehnd.jpg");
  background-color: #cccccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.character {
  width: 128px;
  height: 128px;
  position: absolute;
  z-index: 9;
}

div.pirate {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 10;
}